<div class="wrapper  wow fadeIn" data-wow-duration=".5s"
     data-wow-delay=".5s">
  <div class="header">
    <input type="checkbox" id="drawer-toggle" name="drawer-toggle"/>
    <label for="drawer-toggle" id="drawer-toggle-label"></label>
    <nav id="drawer">
      <ul>
        <li><a href="main">Home</a></li>
        <li><a href="schedule">Harmonogram</a></li>
        <li><a href="artists">Artyści</a></li>
        <li><a href="shows">Spektakle</a></li>
        <li><a href="map">Mapa wydarzeń</a></li>
        <li><a href="tickets">Rezerwacje</a></li>
        <li><a href="contact">Kontakt</a></li>
      </ul>
    </nav>
    <a href="main.html"><img class="logo" src="img/logo.png"></a>
  </div>
  <div class="first-banner shows-top-section-bg flex flex-center flex-align-items-center flex-column">
    <h1 class="white-color animation">
      <h1 class="white-color animation">Rezerwacje</h1>
      <a du-smooth-scroll du-scrollspy href="#scroll-down" class="fa fa-angle-down btn-scroll animation"
         aria-hidden="true"></a>
    </h1>
  </div>
  <div class="my-container" id="scroll-down">
    <p class="tickets-info wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="1">Wstęp na wszystkie spektakle w ramach Festiwalu Kartoteka Rozrzucona: T. Różewicz jest
      bezpłatny, jednak na
      niektóre ze spektakli obowiązuje
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc38I8UfIvcEcauQyPmihtGttMzDRG67HPTMEk1pThZEuXvsQ/viewform" target="_blank" class="tickets-booking">REZERWACJA WEJŚCIÓWEK</a>, która gwarantuje miejsce na widowni.
    </p>

    <p class="tickets-info wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="1">Odbieranie wejściówek na spektakle, po uprzedniej rezerwacji, jest możliwe od 3 do 5
      października w sekretariacie Instytutu im. Jerzego Grotowskiego we Wrocławiu (Rynek-Ratusz 27, Wrocław). Po tym
      terminie wszelkie rezerwacje online przepadają.</p>
    <p class="tickets-info red-color wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="1">Pierwszeństwo wejścia na spektakl mają osoby, które zarezerwowały i odebrały wejściówkę na cały festiwal.</p>

    <p class="tickets-info wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="1">Osoby, które zarezerwują miejsca i przybędą na cały festiwal, otrzymają publikację rękopisu
      "Kartoteki" Tadeusza
      Różewicza, wznowioną specjalnie na tę okazję!</p>

    <p class="tickets-info wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="1">Rezerwacja miejsc obowiązuje na następujące spektakle:
    <ul class="tickets-info-list wow fadeInUp" data-wow-duration="1s"
        data-wow-delay="1">
      <li><a href="shows/Marcin%20Kalisz">KARTOTEKA | reż. Marcin Kalisz</a></li>
      <li><a href="shows/Ewa%20Wycichowska">LAMENT. Pamięci Tadeusza
        Różewicza | reż. Ewa Wycichowska</a>
      </li>
      <li><a href="shows/Marcin%20Liber">III FURIE | reż. Marcin
        Liber</a>
      </li>
      <li><a href="shows/Krzysztof%20Gordon">ŚMIESZNY STARUSZEK | reż. Krzysztof Gordon</a></li>
      <li><a href="shows/Paweł%20Świątek">PAW
        KRÓLOWEJ | reż. Paweł Świątek</a>
      </li>
    </ul>
    </p>

    <p class="tickets-info wow fadeInUp" data-wow-duration="1s"
       data-wow-delay="1">Rezerwacja nie jest wymagana na spektakle w:
    <ul class="tickets-info-list wow fadeInUp" data-wow-duration="1s"
        data-wow-delay="1">
      <li>Parku Południowym</li>
      <li>Sky Tower</li>
      <li>Scena Kameralna
        Teatru Polskiego:
        podwórze
      </li>
      <li>Dworzec Świebodzki: poczekalnie</li>
      <li>Parkingu podziemnym pod NFM</li>
    </ul>
    </p>
  </div>
</div>
<!-- footer -->
<div class="full-width-section parallax footer footer-bg flex flex-wrap-wrap flex-space-around"
     sticky-footer=".wrapper">
  <img src="img/esk-1.png">
  <img src="img/esk-2.png">
  <span class="footer-text">sfinansowane ze środków</span>
  <img src="img/ministerstwo.png">
  <span class="footer-text">współorganizatorzy</span>
  <img src="img/nfm.png">
  <img src="img/impart.png">
  <img src="img/grot.png">
  <span class="footer-text">partner strategiczny</span>
  <img src="img/kghm.png">
  <span class="footer-text">partnerzy</span>
  <img src="img/skytower.png">
  <img src="img/tm.png">
  <img src="img/zajezdnia.png">
  <img src="img/osrodek-p-i-p.png">
  <img src="img/jednego-aktora.png">
  <span class="footer-text">patroni medialni</span>
  <img src="img/radio-wroclaw.png">
  <img src="img/gazeta-wyborcza.png">
  <img src="img/wroclaw-pl.png">
  <img src="img/teatralny.png">
  <img src="img/co-jest-grane.png">
  <img src="img/kultura-dost.png">
  <img src="img/dla-studenta.png">
  <img src="img/infro-art-24.png">
</div>
